.body {
	background-color: #e5eaee;
}

.topgrayline {
	padding: 10px 20px;
	min-height: 40px;
	background-color: #f2f4f6;
	margin-bottom: 30px;
	border-bottom: 1px solid #cad1d8;
}

.form-control {
	display: inline;
	width:100px;
}

.pagecanvas {
	margin: 0 auto 20px;
	max-width: 740px;
}

.pagecanvas h2 {
	font: 23px Verdana;
	color: #4d5e62;	
	border-bottom: 1px solid #9aa5ae;
	margin: 15px 0 5px 0;
}

#myChart {
	margin-top: 20px;
}

.whitebg {
	background-color: #fff;
    box-shadow:0 0 5px #aaa;
}

.wrapper {
	margin: 0 15px;
}

.addDiv {
	border-radius: 3px 0 0 3px;
	border-left: 3px solid;
	padding-bottom: 20px;
	padding:0 10px 15px 10px;
}

.addDiv div {
	font: 11px Verdana;
	color: #aaa;
	border-bottom: 1px solid #ccc;
	padding:7px 5px;
}

.addDiv h4 {
	padding: 15px 0 0 0;
	color: #999;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0;
}

span {float:right;}

